* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html {
  overflow-y: overlay;
  overflow-y: scroll;
}
html,
body {
  height: max-content;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  font-size: 1vw;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: "Inter", Sans-Serif;
  background-color: #fdfdfd;
  scrollbar-color: #fdfdfd;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
a[href^="#"]:focus {
  outline: none;
}
html {
  scroll-behavior: auto;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Inter", Sans-Serif;
  color: #1b1b1b;
}
p {
  color: #1b1b1b;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 35px;
}
h1 {
  font-size: 45px;
}
.up-gallary {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.up-gallary img {
  height: 340px;
}
.info {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  width: 80%;
}
.tambovskaya {
  width: 35%;
}
.tambovskaya-info {
  width: 100%;
  justify-content: center;
}
.tambovskaya-up-gallery {
  justify-content: center;
}
.info p {
  font-family: "Manrope", Sans-Serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left button {
  width: 300px;
  height: 58px;
  font-family: "Manrope", Sans-Serif;
  font-size: 30px;
  font-weight: 700;
  border: 1px solid #1b1b1b;
  border-radius: 40px;
  background-color: unset;
  box-shadow: 0 0 0 0 rgba(27, 27, 27, 0.25);
  scale: 1;
  transition: box-shadow 0.4s ease;
  transition: scale 0.4s ease;
}
.left button:hover {
  box-shadow: 0 0 10px 2px rgba(27, 27, 27, 0.25);
  scale: 1.05;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.swiper {
  margin: 0px 35px 0 35px;
  position: relative;
  overflow: hidden;
}
.swiper-wrapper {
  padding-top: 80px;
}
.swiper-slide {
  width: auto !important;
  height: 340px;
}

.swiper-slide img {
  height: 100%;
  width: auto;
  display: block;
}

.navigation {
  width: 100%;
  z-index: 10;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 30px;
  justify-content: flex-end;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative !important;
  margin: 0 !important;
  width: 40px !important;
  height: 40px !important;
  opacity: 1 !important;
  cursor: pointer !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  display: block !important;
}

@media (max-width: 440px) {
  .up-photo-none {
    display: none;
  }
  .project {
    margin-top: 22em;
    margin-left: unset;
    padding: 0 10px;
  }
  h1 {
    font-size: 7.3em;
  }
  .up-gallary {
    margin-top: 30px;
    gap: unset;
  }
  .up-gallary img {
    width: 100%;
    height: auto;
  }
  .info {
    flex-direction: column;
    width: 90%;
    gap: 30px;
    position: relative;
  }
  .tambovskaya {
    width: 90%;
  }
  .left button {
    width: 58.8vw;
    height: 14.7vw;
    font-size: 5.8vw;
  }
  .domashiy-button {
    position: absolute;
    top: 460px;
  }
  .westgarden-button {
    position: absolute;
    top: 385px;
  }
  .tambovskaya-button {
    position: absolute;
    top: 365px;
  }
  .swiper {
    margin: 70px 10px 0 10px;
  }
  .swiper-slide {
    height: unset;
  }
  .swiper-slide img {
    height: 64.1em;
  }
  .navigation {
    justify-content: space-between;
    gap: unset;
    top: 40px;
    padding: 0 10px;
  }
  .swiper-button-next img {
    width: 60px !important;
  }
  .swiper-button-prev img {
    width: 60px !important;
  }
}



.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-overlay.active {
  display: flex;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #1b1b1b;
  font-size: 40px;
  cursor: pointer;
  z-index: 1010;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: none;
  border: none;
}

.modal-image-container {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.modal-prev,
.modal-next {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-prev img,
.modal-next img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 440px) {
  .modal-overlay {
    display: none !important;
  }

  .swiper-slide {
    pointer-events: none;
  }
}
